/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #2b9556;
    --ifm-color-primary-dark: #117b3c;
    --ifm-color-primary-darker: #0f6e36;
    --ifm-color-primary-darkest: #0d602f;
    --ifm-color-primary-light: #42a169;
    --ifm-color-primary-lighter: #71b88e;
    --ifm-color-primary-lightest: #a1d0b4;
    --ifm-code-font-size: 95%;
    --ifm-font-family-base: "Segoe UI", "Helvetica Neue", "Droid Sans",
        Helvetica, Arial, sans-serif;
    --ifm-heading-font-weight: 200;
    --vertigis-blue: #177dbf;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.navbar .navbar__logo {
    height: 50%;
}

.navbar__brand strong {
    font-weight: var(--ifm-font-weight-light) !important;
}

.alert.alert--success a {
    --ifm-link-color: var(--ifm-color-secondary);
}

.alert.alert--success a:hover {
    color: var(--ifm-color-secondary-darker);
}

.alert.alert--success a code {
    --ifm-code-background: var(--ifm-color-success-darkest);
}

.stackSplitImage {
    max-width: 30em;
    height: auto;
}

.admonition-heading {
    --ifm-heading-font-weight: bold;
}

.footer .footer__links {
    margin-bottom: 3rem;
}
